*{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Gang of Three';
    src: url("../assets/fonts/go3.ttf");
}


/* -------------------------------------------------------------------------------------------------
---------------------------------CONFIRMACION DE VALORES--------------------------------------------
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

.confirm-data{
    background: #afafaf;
}

.subtotal-price, .active-cupon__left-percentage , .active-cupon__right-price, .total-price{
    width: 60px;
    height: 20px;
    border: 1px solid black;
}

.addres{
    visibility: hidden;
}

.show--addres{
    visibility: visible;
}



/* ===================================================== */


.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}

.modal-show{
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    width: 740px;
    height: 380px;
    border-radius: 10px;
    background: #ffff;
}