*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gang of Three';
    src: url("../assets/fonts/go3.ttf");
}

.header{
    width: 100%;
    height: 70px;
    padding: 0 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232043;
}

.logo{
    font-family: 'Gang of Three';
    font-family: 22px;
    font-weight: 400;
    line-height: 28px;
}

.logo-link{
    text-decoration: none;
    color: #FBCD57;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 458px;
    min-width: 400px;
}

.menu__item{
    list-style: none;
}

.menu__item-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #FFF;
    cursor: pointer;

}

/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------SECTION 1----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------- */

.section-1{
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    background-color: #232043;
}


.section-1__left, .section-1__right{
    width: 50%;
}

.s1left__inner{
    padding-top: 75px;
    margin-left: 142px;
}

.s1left__inner-h5, .s1left__inner-h1{
    font-family: 'Gang of Three';
    color: #FBCD57;
}

.s1left__inner-h5{
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}
.s1left__inner-h1{
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
}
.s1left__inner-p{
    width: 390px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
}

.s1left__inner-btn{
    background: rgba(251, 205, 87, .05);
    border: 1px solid #fbcd57;
    transition: .25s;
}

.s1left__inner-btn:hover{
    background: rgba(251, 205, 87, .12);    
}


.s1left__inner-btnlink{
    display: block;
    padding: 12px 30px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    color: #FBCD57;
    cursor: pointer;

}

.principalimg{
    width: 100%;
}

/* ------------------------------ */
/* MODAL */

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}

.modal-show{
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    width: 740px;
    height: 380px;
    border-radius: 10px;
    background: #FFC2EE;
}

.modal-info{
    display: flex;
}

.narumodal{
    width: 320px;
    height: 380px;
}

.modal-info__inner{
    position: relative;
    padding: 70px 40px 0 40px
}

.modal-info__inner-h3{
    font-family: 'Gang of Three';
    color: #232043;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.modal-info__inner-p{
    font-family: 'Roboto';
    color: #232043;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
}


.inputEmail{
    width: 339px;
    height: 40px;
    margin-bottom: 5px;
    padding: 8px 16px;
    background: #FFF;
    border: 1px solid #9C98C8;
    border-radius: 4px;
    font-family: 'Roboto';
}
.inputEmail:focus{
    outline: 2px solid #232043;
    border: none;
}


.modal-btn{
    width: 160px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    color: #232043;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 20px;
    border: 2px solid #232043;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(35, 32, 67, .05);
    transition: .25s;
}
.modal-btn:hover{
    background: rgba(35, 32, 67, .1);
}

.text-validation{
    display: block;
    font-family: 'Roboto';
    font-size: 10px;
    margin-bottom: 40px;
    visibility: hidden;
    opacity: 0;
}

.text-validation--show{
    visibility: visible;
    opacity: 1;
}

.modal-btn-no{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;;

}


/* TOASTER  */


.toast{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: #FBCD57;
    color: #232043;
    font-family: 'Roboto';
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}


.toast--show{
    visibility: visible;
    opacity: 1;
}



/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------SECTION 2----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------- */

.section-2{
    width: 100%;
    height: 100vh;
    padding: 0 117px;
    display: flex;
    background-color: #FFC2EE;
}

.section-2__left-inner{
    max-width: 616px;
}

.s2img{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.section-2__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #232043;
}

.section-2__right-inner{
    margin-left: 80px;
}

.section-2__right-h2{
    font-family: 'Gang of Three';
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 18px;
}

.section-2__right-p{
    max-width: 398px;
    min-width: 270px;
    font-family: 'Roboto';
    font-size: 16px;
}


/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------SECTION 3----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------- */


.section-3{
    width: 100%;
    height: 120vh;
    padding: 0 155px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232043;
}

.kero{
    position: absolute;
    top: 69px;
    left: 0;
    width: 189px;
    height: 269px;
}

.agumon{
    position: absolute;
    bottom: 57px;
    right: 0;
    width: 175px;
    height: 256px;
}

.s3__inner{
    width: 1060px;
    height: 430px;
    display: flex;
    flex-direction: column;
}

.s3__inner-h2{
    font-family: 'Gang of Three';
    font-size: 40px;
    font-weight: 400;
    color: #FBCD57;
    margin-bottom: 24px;
}

.s3__inner-p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    margin-bottom: 24px;
}

.s3__inner-cards{
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    grid-gap: 16px;
}

.s3-card{
    min-width: 200px;
    height: 298px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.s3-card-img{
    width: 100%;
    height: 45%;
    margin-bottom: -4px;
}
.card__info{
    position: relative;
    height: 54%;
    padding: 10% 15% 20% 8%;
    border-radius: 0 0 24px 24px;
    background-color: #FFF;
}

.card__info-h3{
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #232043;
}

.card__info-p{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 8px;
    color: #232043;
}

.card__info-price{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: #232043;
}

.card__info-btn{
    position: absolute;
    z-index: 1000;
    right: 15px;
    bottom: -20px;
    width: 48px;
    height: 48px;
    background-color: #FFC2EE;
    font-size: 40px;
    color: #D73400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
}

.card__info-btn:hover{
    width: 180px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__info-btnspan{
    display: none;
    font-family: 'Roboto';
    font-size: 14px;
}

.card__info-btn:hover .card__info-btnspan{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    transform: translateY(1px);
}


.card-gtm{
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s;
}

.card-gtm:hover{
    background-color: rgba(255, 255, 255, .3);

}

.go-to-menu{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gtm-img{
    width: 64px;
    height: 64px;
    margin-bottom: 14px;
}

.gtm-link{
    text-decoration: none;
    font-family: 'Roboto';
    font: 20px;
    font-weight: 700;
    color: #fff;
}


/* --------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------SECTION 4----------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------- */

.section-4{
    width: 100%;
    height: 256px;
    padding: 0 155px;
    display: flex;
    background-color: #FBCD57;
}

.dots{
    width: 77px;
    height: 254px;
}

.s4__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s4__words-p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #232043;
}

.s4__words-h3{
    font-family: 'Gang of Three';
    font-size: 40px;
    font-weight: 400;
}

.imglanacion{
    width: 201px;
    height: 101px;
    margin-left: 60px;
}

.img365{
    width: 202px;
    height: 103px;
}

.imgpersonal{
    width: 152px;
    height: 108px;
}



